<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.demo.mapper.PermissionMapper">

    <!--根据用户id查询权限信息列表-->
    <select id="getPermissionListByUserId" resultType="com.shoppingmall.demo.model.DO.PermissionDO">
        select distinct p.id,
                        p.parent_id,
                        p.name,
                        p.code,
                        p.description,
                        p.path,
                        p.menu,
                        p.icon,
                        p.component,
                        p.type,
                        p.create_time,
                        p.update_time
        from permission p
                 left join role_permission rp on rp.permission_id = p.id
                 left join user_role ur on ur.role_id = rp.role_id and ur.user_id = #{userId}
    </select>

    <!--根据用户id查询权限编码资源列表-->
    <select id="getPermissionCodeListByUserId" resultType="string">
        select distinct p.code
        from permission p
                 left join role_permission rp on rp.permission_id = p.id
                 left join user_role ur on ur.role_id = rp.role_id
                 left join user u on u.id = ur.user_id
        where u.id = #{userId}
    </select>

</mapper>