<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.demo.mapper.RoleMapper">

    <!--根据用户id查询拥有角色信息列表-->
    <select id="getRoleListByUserId" resultType="com.shoppingmall.demo.model.DO.RoleDO">
        select distinct r.id,
                        r.role_name,
                        r.code,
                        r.data_scope,
                        r.parent_id,
                        r.creator_id,
                        r.status,
                        r.description,
                        r.create_time,
                        r.update_time
        from role r
                 left join user_role ur on ur.role_id = r.id
                 left join user u on u.id = ur.user_id
        where u.id = #{userId}
    </select>

    <!--根据用户id和用户类型查询用户角色关系DO-->
    <select id="getUserRoleByUserIdAndUserType" resultType="com.shoppingmall.demo.model.DO.UserRoleDO">
        select distinct ur.id, ur.role_id, ur.user_id, ur.create_time, ur.update_time
        from role r
                 left join user_role ur on ur.role_id = r.id
        where r.code = #{userType}
          and ur.user_id = #{userId}
    </select>

</mapper>